body{
    margin: 0px;
    padding: 0px;
    font-family: "Open+Sans", sans-serif;
    font-size: 16px;
    line-height: normal;
    background-color: rgb(255, 255, 255);
    color: #000;
}

h1, h2, h3, h4, h5, h6{margin: 0px; padding: 0px;}

p, ul, ol{margin: 0px; padding: 0px; margin-bottom: 20px; line-height: 30px;}

.header{
    padding: 25px 0px 25px 0px;
}

.container{
    width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header .container{
    display: flex;
    align-items: center;
}

.header .logo{
    width: 220px;
}

.header  .list-container{
    width: calc(100% - 220px);
}

.header  .list-container .list-content{
    font-size: 12px;
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 40px;
    margin: 0px;
    padding: 0px;
}

.header  .list-container ul a{
    text-decoration: none;
    color: #000;
}

