@charset "utf-8";
/* CSS Document */
/*
font-family: "Poppins", sans-serif;
font-family: "Oswald", sans-serif;
*/

@font-face {
    font-family:"Roboto";
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/roboto-thin.woff) format('woff');
}
@font-face {
    font-family:"Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/roboto-black.woff) format('woff');
}


html {
    scroll-behavior: smooth;
}
html,body {
    /*overflow-x: hidden;*/
}
body { margin: 0px;color: #333333;font-size:22px;font-family: "Merriweather Sans", sans-serif; font-weight:300;line-height:normal;padding:0px;}
img{ max-width:100%; }
h1, h2, h3, h4, h5, h6{margin:0px;padding:0px;color:#003366;line-height:normal;font-weight:800;margin-bottom:15px;font-family: "Roboto", sans-serif;}
h1{font-size:60px;}
h2 { font-size:56px;}
h3{ font-size:32px;font-family: "Merriweather Sans", sans-serif;font-weight:400;}
h4{ font-size:28px;}
h5{ font-size:26px; }
h6{ font-size:24px; }
hr{ margin:10px 0px; border:0px; border-bottom:1px dashed #828282;}
p, ul, ol{ margin:0px; line-height:34px; padding:0px;}
ul *, ol * { margin:0px; padding:0px;}
ol,ul { padding-left: 25px;}
ul {display:block; list-style:none; }
ul li{line-height:30px;}
a img { border: 0px;}
p,ul,ol { margin-bottom: 18px;}
.clr{ display: block; float: none; clear: both;}
.c { overflow:hidden; float:none;}
.underline{text-decoration:underline;}
a { text-decoration:none; }
.hidden { display:none;}
.italic{font-style:italic;	}
.bold{font-weight:bold;	}
table{border-spacing:0px;border-collapse:collapse;}
input[type="text"],input[type="url"],input[type="tel"], input[type="email"], input[type="password"], select, textarea { font-family: "Roboto", sans-serif;background:#fff; border:0px solid #e0e0e0;color: #000; font-size: 14px; padding: 12px 15px; resize: vertical;width:100%;font-weight:400;box-sizing:border-box;font-family: "Poppins", sans-serif;border-radius: 4px; }
textarea { width:100%;}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus { outline: 0; box-shadow: 0px 0px 10px rgba(000,000,000,.1); }
input[type="button"], input[type="submit"], input[type="reset"], .primary-button, .btn {font-family: "Roboto", sans-serif; background: #FFCC19 none repeat scroll 0 0;border:0px;color: #151515;display: inline-block; font-size:20px; font-weight: 600;min-width:120px; padding: 11px 15px;  vertical-align: top;transition: all linear .2s;-moz-transition: all linear .2s;-ms-transition: all linear .2s;-o-transition: all linear .2s;-webkit-transition: all linear .2s; border-radius: 4px;}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover ,.primary-button:hover,.btn:hover,.primary-button:focus,.btn:focus{ background-color:#000000;color:#fff;}
.form-control { border-radius:0px; -moz-border-radius:0px;  -ms-border-radius:0px; -o-border-radius:0px; -webkit-border-radius:0px; box-shadow: 0 0 0; height: auto;}
a:focus{outline:none;	text-decoration:none;}
a{color:#000;transition: all linear .2s;-moz-transition: all linear .2s;-ms-transition: all linear .2s;-o-transition: all linear .2s;-webkit-transition: all linear .2s;	}
a:hover,a:focus{text-decoration:none;color:#000;}
.cfx::after {clear: both; content: "+";display: block; height: 0;visibility: hidden;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */opacity:1; color: #000;}
::-moz-placeholder { /* Firefox 19+ */opacity:1; color: #000;}
:-ms-input-placeholder { /* IE 10+ */opacity:1; color: #000;}
:-moz-placeholder { /* Firefox 18- */opacity:1; color: #000;}	


/*-------------------*/
.top-section {
    background: #003366;
    padding: 10px 0px;
    position: sticky;
    top: 0;
}
.top-section .container {
    display: flex;
}
.top-section .container::before,.top-section .container::after {
    display: none;
}
.top-section .logo-box {
    width: 160px;
}
.top-section .nav-box {
    width: calc(100% - 160px);
    display: flex;
    justify-content: end;
    align-items: center;
}
.top-section .des-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 28px;
    align-items: center;
}
.top-section .des-nav ul li a {
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 4px 10px;
    font-family: "Merriweather Sans", sans-serif; 
}
.top-section .des-nav ul li:hover > a{
    color: #ffcc19;

}
.top-section .des-nav ul li.p-btn a {
    background: #ffcc19;
    color: #151515;
    font-weight: 600;
    padding: 8px 15px;
    font-size: 24px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
}
body.theme-default .hc-offcanvas-nav li.p-btn a{
    background: #ffcc19;
    color: #151515;
}
.top-section .des-nav ul li.p-btn a:hover{
    background: #fff;
    color: #151515;
}
.top-section .mobile-btn{
    display: none;
}
.top-section .mobile-btn a {
    background: #ffcc19;
    width: 38px;
    height: 40px;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}
.top-section .mobile-btn a span {
    left: 8px;
}
.banner-section {
    padding: 60px 0px;
}
.banner-section .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
    align-items: center;
}
.banner-section  .image-box {
    width: 50%;
}
.banner-section .content-box {
    width: 50%;
}
.banner-section .container::before,.banner-section .container::after {
    display: none;
}
.banner-section h2{
    margin-bottom: 20px;
}
.banner-section h3 {
    color: #333333;
    margin-bottom: 25px;
}
.banner-section p{
    margin-bottom: 25px;
}
.banner-section .image-box {
    height: 570px;
}
.banner-section .image-box img {
    width: 100%;
    border-radius: 32px;
    height: 100%;
    object-fit: cover;
}

.button-box {
    display: flex;
    gap: 15px;
}
.button-box.rev{
    flex-direction: row-reverse;
    justify-content: left;
}
.button-box.center{
    justify-content: center;
}
.button-box i{
    margin-left: 8px;
}
.button-box a {
    border: 2px solid #FFCC19;
    background: #FFCC19;
    color: #151515;
    font-family: 'Roboto';
    font-weight: 600;
    display: block;
    padding: 9px 17px;
    border-radius: 4px;
    font-size: 24px;
}
.button-box a:hover {
    background: #003366;
    border-color: #003366;
    color: #fff;
}
.button-box a.border {
    border-color: #003366;
    background: #fff;
    color: #003366;
    font-weight: 500;
}
.button-box a.border:hover{
    background: #003366;
    color: #fff;
}
.button-box a.white {
    border-color: #fff;
    background: #003366;
    color: #fff;
    font-weight: 400;
}
.button-box a.white:hover{
    background: #fff;
    color: #003366;
}
.search-section {
    background: #003366;
    padding: 40px 0px;
}
.search-section h3 {
    color: #fff;
    font-size: 24px;
}
.search-section  .search-box {
    background: #4CAF50;
    border-radius: 16px;
    padding: 25px 25px;
}
.search-box .search-form {
    display: flex;
    gap: 10px;
}
.search-box .search-form .trade {
    width: calc(100% - 440px);
}
.search-box .search-form .loc {
    width: 320px;
}
.search-box .search-form .sub {
    width: 120px;
}
.search-box .search-form input[type="text"],.search-box .search-form input[type="submit"] {
    height: 46px;
}
.search-box .search-form input[type="submit"]{
    min-width:inherit;
    width:100%;
}
.howit-section {
    padding: 60px 0px;
}
.howit-section .container {
    display: flex;
    gap: 20px;
}
.howit-section .howit-box {
    width: 50%;
}
.howit-section .container::before,.howit-section .container::after {
    display: none;
}
.howit-section h3 {
    color: #333333;
}
.howit-item {
    border-radius: 24px;
    overflow: hidden;
    color: #fff;
    margin-bottom: 25px;
}
.howit-item .cnt-box {
    background: #003366;
    padding: 28px 30px;
    display: flex;
    gap: 8px;
}
.howit-item.yellow{
    color: #151515;
}
.howit-item.yellow .cnt-box {
    background: #FFCC19;
}
.howit-item.green .cnt-box {
    background: #4CAF50;
}
.howit-item h4 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}
.howit-item.yellow h4{
    color: #151515;
}
.howit-item .img-box {
    height: 350px;
    overflow: hidden;
}
.howit-item .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.howit-item .cnt-box .no {
    width: 30px;
    font-size: 32px;
    font-family: roboto;
    font-weight: 600;
}
.howit-item .cnt-box .text {
    width: calc(100% - 30px);
}
.howit-item .cnt-box .text p {
    margin: 0;
}
.howit-item.desk-how {
    margin-top: 150px;
}
.howit-item.mob-how {
    display: none;
}
.howit-section .howit-box.right-box {
    margin-top: 40px;
}
.gallery-section {
    text-align: center;
    background: #003366;
    padding: 60px 0px;
    color: #fff;
}
.gallery-section h2 {
    color: #FFCC19;
}
.gallery-section h3 {
    color: #F4F4F4;
}
.gallery-box {
    margin-top: 60px;
    margin-bottom: 40px;
}
.gallery-box .gallery-item {
    display: flex;
    gap: 15px;
}
.gallery-box .gallery-item .pic{
    overflow: hidden;
}
.gallery-box .gallery-item .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-box .gallery-item .pic+.pic{
    margin-top: 15px;
}
.gallery-box .gallery-item .g-grid:nth-child(1) {
    width: 40%;
}
.gallery-box .gallery-item .g-grid:nth-child(2) {
    width: 35%;
}
.gallery-box .gallery-item .g-grid:nth-child(3) {
    width: 25%;
}
.gallery-box .gallery-item .height1{
    height: 400px;
}
.gallery-box .gallery-item .height2{
    height: 250px;
}
.gallery-box .gallery-item .height3{
    height: 666px;
}

.gallery-box .gallery-item .height4,.gallery-box .gallery-item .height5{
    height: 325px;
}

.gallery-box .gallery-item .g-grid:nth-child(1) .pic:nth-child(1){
    border-radius:16px 0px 0px 16px;
}
.gallery-box .gallery-item .g-grid:nth-child(1) .pic:nth-child(2){
    border-radius: 16px 0px 0px 16px;
}
.gallery-box .gallery-item .g-grid:nth-child(3) .pic:nth-child(1){
    border-radius: 0px 16px 16px 0px;
}
.gallery-box .gallery-item .g-grid:nth-child(3) .pic:nth-child(2){
    border-radius: 0px 16px 16px 0px;
}
.start-section{
    padding: 60px 0px;
}
.start-section .start-box {
    display: flex;
    flex-direction: row-reverse;
    background: #4CAF50;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
}
.start-section .start-box .start-left {
    padding: 25px;
    width: 50%;
}
.start-section .start-box .start-right {
    width: 50%;
}
.start-section .start-box .start-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(000, 000, 000, .3);
}
.start-section h2 {
    color: #fff;
}
.start-section h3 {
    color: #fff;
    margin-bottom: 25px;
}
.footer-section {
    background: #003366;
    padding: 60px 0px;
    font-size: 16px;
}
.footer-section .container {
    display: flex;
    gap: 50px;
}
.footer-section .container::before,.footer-section .container::after {
    display: none;
}
.footer-section .footer-box {
    width: 33.33%;
}
.footer-section .f-logo {
    max-width: 345px;
    margin-bottom: 45px;
}
.footer-section h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.footer-section  ul.cantact {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}
.footer-section ul.cantact li {
    position: relative;
}
.footer-section ul.cantact li a {
    color: #fff;
}
.footer-section ul.cantact li i {
    color: #FFCC19;
    margin-right: 9px;
}
.footer-section .f-links {
    display: flex;
    gap: 20px;
}
.footer-section .f-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-section .f-links ul li a {
    color: #fff;
}
.footer-section .f-links ul li+li {
    margin-top: 8px;
}
.footer-section .f-links .two {
    width: 50%;
}
.footer-section h3 {
    color: #fff;
    font-size: 24px;
}
.footer-section .subscribe-box {}
.footer-section .subscribe-box .field-box+.field-box {
    margin-top: 10px;
}
.footer-section .subscribe-box input[type="submit"] {
    min-width: 190px;
}
.footer-section .subscribe-box .submit{
    text-align: right;
}


@media only screen and (min-width:1460px) and (max-width:1560px){
	.container{
		width:1400px;	
	}
	
	
}
@media only screen and (min-width:1360px) and (max-width:1460px){
	.container{
		width:1300px;	
	}
	
	
}
@media only screen and (min-width:1260px) and (max-width:1360px){
	.container{
		width:1200px;	
	}
	
	
}

@media only screen and (min-width:992px) and (max-width:1260px){
	.container{
		width:960px;	
	}
	
	
}
@media only screen and (min-width:768px) and (max-width:991px){
	
	
}   
@media only screen and (max-width:1260px){
    
    body {
        font-size: 20px;
    }
    .banner-section h2 {font-size: 38px;}
    .banner-section .container {
        gap: 30px;
    }
    .banner-section h3 {
        font-size: 28px;
    }
    .button-box a{
        font-size: 20px;
    }
    h1{
        font-size:48px;
    }
    h2{
        font-size:40px;
    }
    h3{
        font-size:26px;
    }
    h4{
        font-size:24px;
    }
    h5{
        font-size: 22px;
    }
    .howit-item .cnt-box .no {
        font-size: 28px;
    }
    .howit-item h4 {
        font-size: 28px;
        margin-bottom: 10px;
    }

}
@media only screen and (max-width:991px){
	

    
    .top-section .des-nav ul li a {
        font-size: 16px;
    }
    .top-section .des-nav ul li.p-btn a {
        font-size: 20px;
    }
    .banner-section .container {
        display: block;
        gap: 0;
    }
    .banner-section .image-box {
        width: 100%;
        height: auto;
        max-width: 500px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .banner-section .content-box {
        width: 100%;
        text-align: center;
    }
    .banner-section h2 {
        margin-bottom: 10px;
    }
    .banner-section h3 {
        margin-bottom: 10px;
    }
    .banner-section .content-box .button-box {
        justify-content: center;
    }
    .search-box .search-form .loc {
        width: 200px;
    }
    .search-box .search-form .trade {
        width: calc(100% - 320px);
    }
    .howit-section .container {
        display: block;
    }
    .howit-section .howit-box {
        width: auto;
    }
    .howit-item .img-box {
        height: auto;
    }
    .howit-item.desk-how {
        display: none;
    }
    .howit-item.mob-how {
        display: block;
    }
    .start-section .start-box {
        display: block;
    }
    .start-section .start-box .start-right {
        width: auto;
    }
    .start-section .start-box .start-left {
        width: auto;
    }
    .footer-section .container {flex-wrap: wrap;}
    .footer-section .footer-box:nth-child(1) {
        width: 100%;
    }
    .footer-section .f-logo {
        max-width: 250px;
    }
    .footer-section .footer-box {
        width: calc(50% - 25px);
    }

	
}
@media only screen and (max-width:767px){
	body{
        font-size: 18px;
    }
    p, ul, ol {
        line-height: 28px;
    }
    h1{
        font-size:36px;
    }
    h2{
        font-size:32px;
    }
    h3{
        font-size:22px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    .top-section .nav-box .des-nav {
        display: none;
    }
    .top-section .mobile-btn{
        display: block;
    }
    .banner-section .content-box .button-box {
        display: block;
    }
    .banner-section .content-box .button-box a+a {
        margin-top: 12px;
    }
    .banner-section h2 {
        font-size: 32px;
    }
    .banner-section h3 {
        font-size: 24px;
    }
    .button-box a{
        font-size: 18px;
    }
    .search-box .search-form {
        display: block;
    }
    .search-box .search-form .trade {
        width: auto;
        margin-bottom: 10px;
    }
    .search-box .search-form .loc {
        width: auto;
        margin-bottom: 10px;
    }
    .search-box .search-form .sub {
        width: auto;
        text-align: center;
    }
    .search-box .search-form input[type="submit"] {
        width: auto;
        min-width: 180px;
    }
    .search-section h3 {
        text-align: center;
    }
    .howit-item h4, .howit-item .cnt-box .no {
        font-size: 22px;
    }
    
    .gallery-box .gallery-item {
        display: block;
    }
    .gallery-box .gallery-item .g-grid:nth-child(1),.gallery-box .gallery-item .g-grid:nth-child(2),.gallery-box .gallery-item .g-grid:nth-child(3) {
        width: auto;
    }
    .gallery-box .gallery-item .pic img {border-radius: 16px;}
    .gallery-box .gallery-item .g-grid+.g-grid {
        margin-top: 15px;
    }
    .gallery-box .gallery-item .pic {
        height: auto !important;
    }
	.footer-section .footer-box {
        width: 100%;
        text-align: center;
    }
    .footer-section .container {
        gap:0;
    }
    .footer-section .f-logo {
        max-width: 200px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .footer-section .f-links {
        display: block;
    }
    .footer-section .f-links .two {
        width: auto;
    }
    .footer-section .f-links .two+.two {
        margin-top: 40px;
    }
    .footer-section .footer-box+.footer-box {
        margin-top:40px;
    }
    .footer-section .subscribe-box .submit {
        text-align: center;
    }
}
@media only screen and (max-width:640px){
	 
     
	
}
@media only screen and (max-width:550px){
    
    


}

@media only screen and (max-width:480px){
	 
    
}
@media only screen and (max-width:380px){
    
	
	
}
