*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-size: 16px;
    background-color: antiquewhite;
}

p, ul, ol{ 
    margin: 0px;
    padding: 0px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6{margin: 0px; padding: 0px;}

.header{
    padding: 20px 0px 30px 0px;
    margin-bottom: 65px;
}
.container{
    width: 1200px;
    margin: 0px auto;
}
.header .holder{
    height: 245px;
    background-color: #000000;
    display: flex;
    gap: 65px;
    padding: 40px 0px 70px 0px;
}
.header .block{
    width: calc(33.33%);
    height: 125px;
    background-color: red;
}

.cent{
    margin-bottom: 60px;
}

.cent .holder{
    height: 400px;
    background-color: #e62223;
    display: flex;
    gap: 50px;
    padding: 30px 20px;
}

.cent .holder .elem{
    height: 340px;
    width: 690px;
    background-color: #f1edd2;
}

.cent .holder .elem-two{
    height: 340px;
    width: calc(100% - 690px);
    background-color: #f8d811;
}

.sec-last{
    margin-bottom: 55px;
}
.sec-last .content{
    height: 100px;
    width: 100%;
    background-color: #e622db;
}


.last{
    margin-bottom: 50px;
}
.last .content{
    height: 50px;
    width: 100%;
    background-color: #0f4722;
}